$back-color: #111;
$font-color: #fff;
$back-color-active: #f00;
$height: 40px;
$m-height: 56px;

.btn {
  width: 100%;
  height: $height;
  border-radius: calc(#{$height} / 2);
  color: $font-color;
  @include rem(font-size, 13px);
  background: $back-color;
  text-transform: capitalize;
  &:active {
    background: $back-color-active;
  }

  @include media("tablet-small") {
    width: 178px;
    height: $m-height;
    border-radius: calc(#{$m-height} / 2);
    font-size: 1rem;
  }

  @include media('tablet-wide') {
    width: 240px;
    cursor: pointer;
    transition: .3s background-color;
    &:hover {
      background: lighten($back-color, 20%);
    }
    &:active {
      transition: none;
      background: $back-color-active;
    }
  }
}