.good__title {
  @include rem(font-size, 32px);
  margin-bottom: 24px;

  @include media('tablet-small') {
    margin-bottom: 27px;
  }

  @include media('tablet-wide') {
    font-size: 2.8rem;
  }

  @include media('desktop-wide') {
    font-size: 3.2rem;
  }
}