.good__title {
  @include rem(font-size, 32px);
  margin-bottom: 24px;

  @include media('tablet-small') {
    margin-bottom: 27px;
    font-size: 1.8rem;
  }

  @include media('tablet-wide') {
    font-size: 2.5rem;
  }

  @include media('desktop-wide') {
    font-size: 2.9rem;
    margin-bottom: 16px;
  }
}