$font-color: #999;

.good__text {
  color: $font-color;
  font-family: pragmatica, Helvetica, Arial, sans-serif;
  margin-bottom: 33px;
  @include rem(line-height, 24px);

  @include media('tablet-small') {
    margin-bottom: 37px;
    line-height: 1.4rem;
  }

  @include media('tablet-wide') {
    max-width: 50%;
  }
}