$back-color: #f8f8f8;

.good__img {
  background: $back-color;
  width: 100%;

  @include media("tablet-small") {
    height: 551px;
  }

  @include media('tablet-wide') {
    width: 392px;
    height: 392px;
  }

  @include media('desktop-wide') {
    width: 528px;
    height: 465px;
  }
}