$back-color: #f8f8f8;

.good__img {
  height: 288px;
  background: $back-color;
  margin-bottom: 26px;
  display: block;

  @include media("tablet-small") {
    height: 551px;
    margin-bottom: 44px;
    order: -1;
  }

  @include media('tablet-wide') {
    width: 392px;
    height: 392px;
    margin: 0 41px 0 0;
  }
  @include media('desktop-wide') {
    width: 528px;
    height: 465px;
    margin-right: 48px;
  }
}