.good {

  @include media('tablet-small') {
    display: flex;
    flex-direction: column;
  }

  @include media('tablet-wide') {
    height: 392px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
  }

  @include media('desktop-wide') {
    height: 465px + 71px;
  }
}